<h1>Listing contracts</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th>Acontecimiento</th>
      <th>Fecha</th>
      <th>Direccion</th>
      <th>Observacion</th>
      <th>Video</th>
      <th>Fotos</th>
      <th>Mosaico</th>
      <th>Acuenta</th>
      <th>Saldo</th>
      <th>Total</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.nombre %></td>
        <td><%= contract.telefono %></td>
        <td><%= contract.celular %></td>
        <td><%= contract.acontecimiento %></td>
        <td><%= contract.fecha %></td>
        <td><%= contract.direccion %></td>
        <td><%= contract.observacion %></td>
        <td><%= contract.video %></td>
        <td><%= contract.fotos %></td>
        <td><%= contract.mosaico %></td>
        <td><%= contract.acuenta %></td>
        <td><%= contract.saldo %></td>
        <td><%= contract.total %></td>
        <td><%= contract.latitude %></td>
        <td><%= contract.longitude %></td>
        <td><%= link_to 'Show', contract %></td>
        <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
        <td><%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contract', new_contract_path %>
