<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @contract.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @contract.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @contract.celular %>
</p>

<p>
  <strong>Acontecimiento:</strong>
  <%= @contract.acontecimiento %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @contract.fecha %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @contract.direccion %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @contract.observacion %>
</p>

<p>
  <strong>Video:</strong>
  <%= @contract.video %>
</p>

<p>
  <strong>Fotos:</strong>
  <%= @contract.fotos %>
</p>

<p>
  <strong>Mosaico:</strong>
  <%= @contract.mosaico %>
</p>

<p>
  <strong>Acuenta:</strong>
  <%= @contract.acuenta %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @contract.saldo %>
</p>

<p>
  <strong>Total:</strong>
  <%= @contract.total %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @contract.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @contract.longitude %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
