<div class="container"> 
  <div class="row clearfix">
    <div class="col-md-5 column">
      <div class="well">
        <h3>
        <div class="form-group">
           <label for="exampleInputEmail1">Cliente:</label>
              <%= @sale_material.nombre %>
        </div>
        <% @sale_material.products.each do |product| %>
        <div class="form-group">
           <label for="exampleInputEmail1">Producto:</label>
              <%= product.material.descripcion %>
              <label for="exampleInputPassword1"> Cantidad:</label>
              <%= product.cantidad %>
        </div>
        
        <% end %>
        <div class="form-group">
           <label for="exampleInputPassword1">A cuenta:</label>
             <%= @sale_material.acuenta %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Saldo:</label>
             <%= @sale_material.saldo %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Total:</label>
             <%= @sale_material.total %>
        </div>
    </h3>
    </div>
    <%= link_to 'Editar', edit_sale_material_path(@sale_material), :class=>"btn btn-danger btn-sm active" %> |
  <%= link_to 'Atras', sale_materials_path, :class=>"btn btn-default btn-sm active" %>
  </div>
 </div>
</div>
