<%= form_for(@assistance) do |f| %>
  <% if @assistance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assistance.errors.count, "error") %> prohibited this assistance from being saved:</h2>

      <ul>
      <% @assistance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <div class="row clearfix">
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
      <div class="well">
      <form role="form">
        <div class="form-group">
           <label for="exampleInputEmail1">Direccion de correo electrónico</label><%= f.collection_select :user_id, User.all, :id, :nombre, {class: "form-control input-sm"} %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Ingreso:</label><a><%= Time.now.strftime(" %Y-%m-%e Hora: %I:%M") %></a>
        </div>
        <%= f.hidden_field :entrada, :value => Date.today %>
        <center><button type="submit" class="btn btn-primary">Marcar ingreso</button>
        <%= link_to 'Asistencias', assistances_path, :class => "btn btn-warning" %></center>
      </form>
    </div>
    </div>
  </div>
</div>
  
<% end %>