<h1>Marcar Hora de salida</h1>

<%= form_for(@assistance) do |f| %>
  <% if @assistance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assistance.errors.count, "error") %> prohibited this assistance from being saved:</h2>

      <ul>
      <% @assistance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label><%=@assistance.user.nombre%></label>
  <div class="field">
    <%= f.hidden_field :salida, :value => DateTime.now %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Atras', assistances_path %>
