<h1>Listing assistances</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Ingreso</th>
      <th>Salida</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assistances.each do |assistance| %>
      <tr>
        <td><%= assistance.user.nombre %></td>
        <td><%= assistance.created_at.localtime.strftime("%Y-%m-%e %I:%M") %></td>
        <% if !assistance.salida.nil? %>
        <td><%= assistance.salida.localtime.strftime("%Y-%m-%e %I:%M") %></td>
        <% else %>
          <td><%= link_to 'Marcar Salida', edit_assistance_path(assistance) %></td>
        <% end %>
        <td><%= link_to 'Destroy', assistance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assistance', new_assistance_path %>
