<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @assistance.user %>
</p>

<p>
  <strong>Salida:</strong>
  <%= @assistance.salida %>
</p>

<%= link_to 'Edit', edit_assistance_path(@assistance) %> |
<%= link_to 'Back', assistances_path %>
