<%= form_for(@mosaic) do |f| %>
  <% if @mosaic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mosaic.errors.count, "error") %> prohibited this mosaic from being saved:</h2>

      <ul>
      <% @mosaic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tamanio %><br>
    <%= f.text_field :tamanio %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :precio %>
  </div>
  <div class="field">
    <%= f.label :costo %><br>
    <%= f.text_field :costo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
