<%= form_for(@canal) do |f| %>
  <% if @canal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@canal.errors.count, "error") %> prohibited this canal from being saved:</h2>

      <ul>
      <% @canal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tamanio %><br>
    <%= f.text_field :tamanio %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :precio %>
  </div>
  <div class="field">
    <%= f.label :preciof %><br>
    <%= f.text_field :preciof %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
