<p id="notice"><%= notice %></p>

<p>
  <strong>Tamanio:</strong>
  <%= @canal.tamanio %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @canal.tipo %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @canal.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @canal.precio %>
</p>

<p>
  <strong>Preciof:</strong>
  <%= @canal.preciof %>
</p>

<%= link_to 'Edit', edit_canal_path(@canal) %> |
<%= link_to 'Back', canals_path %>
