<%= form_for @sale, :html => { :class => 'form-horizontal', :role => 'form' } do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  
  <div class="row clearfix">
    <div class="col-md-4 column">
      <div class="well">
        <div class="form-group">
           <label for="exampleInputEmail1">Numero de Sobre</label>
           <%= f.text_field :sobre, :class=>'form-control' %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Cantidad</label>
              <%= f.number_field :cantidad, :class=>'form-control' %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">A cuenta</label>
           <%= f.text_field :acuenta, :class=>'form-control' %>
        </div>
    </div>
    </div>
    <div class="col-md-4 column">
      <div class="well">
        <div class="form-group">
           <label for="exampleInputEmail1">Nombre</label>
            <%= f.text_field :nombre, :class=>'form-control' %>
              
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Tamanio</label>
           <%= f.collection_select :canal_id, Canal.all, :id, :tamanio, {prompt: "Seleccionar un tamanio"}, {class: "form-control input-sm"} %>
           
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Saldo</label>
           <%= f.text_field :saldo, :class=>'form-control' %>
        </div>
    </div>
    </div>
    <div class="col-md-4 column">
      <div class="well">
        <div class="form-group">
           <label for="exampleInputEmail1">Tipo de cliente</label>
              <select class="form-control" id="sale_aficionado" name="sale[aficionado]">
                <option value= "false">Aficionado</option>
                <option value = "true">Fotografo</option>
           </select>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Observacion</label>
           <%= f.text_field :observacion, :class=>'form-control' %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Total</label>
           <%= f.text_field :total, :class=>'form-control', :onclick=>"algo()" %>
        </div>
    </div>
    </div>
  </div>
  
  <input type="submit" value="Registrar Venta" class="btn btn-danger">
  <a href="<%=sales_path%>" class="btn btn-default btn-sm active" role="button"> Atras </a>
</div>
<% end %>

<script type="text/javascript">
  $(function() {
  $('#sale_aficionado').change(function(){ 
    var valor_total = $("#sale_cantidad").val();
    var aficionado = $("#sale_aficionado").val();
    if(valor_total>=1){
      if (aficionado == true) {
        '<% precio = Canal.find(2).preciof%>'
        var precio =  '<%=precio%>';
        valor_total = valor_total * precio;
        $("#sale_total").attr("value",valor_total);
      }
    }
  });

  $('#sale_cantidad').change(function(){ 
    var cantidad = $("#sale_cantidad").val();
    var id_canal = $("#sale_canal_id").val();
    '<% precio = Canal.find(2).precio%>'
    var precio =  '<%=precio%>';
    if(cantidad>=1){
        var valor_total = cantidad * precio;
        $("#sale_total").attr("value",valor_total);
    }

  });
});
    function algo() {
  
  alert('No se pudo encontrar la direccion: ');
}
</script>