<h1>Ventas</h1>


  <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>No de sobre</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Cantidad</th>
            <th>tamanio</th>
            <th>Precio Unitario</th>
            <th>A cuenta</th>
            <th>Saldo</th>
            <th>Total</th>
            <th>Observacion</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @sales.each do |sale| %>
          <tr class="active">
            <td><%= sale.sobre %></td>
            <td><%= sale.nombre %></td>
            <% if sale.aficionado == true%>
            <td>fotografo</td>
            <% else %>
              <td>aficionado</td>
            <% end %>
            <td><%= sale.cantidad %></td>
            <td><%= sale.canal.tamanio %></td>
            <td><%= sale.canal.precio %></td>
            <td><%= sale.acuenta %></td>
            <td><%= sale.saldo %></td>
            <td><%= sale.total %></td>
            <td><%= sale.observacion %></td>
            <td><%= link_to 'Show', sale %></td>
            <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
            <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>


<br>
<a data-no-turbolink="true" href="<%=new_sale_path%>" class="btn btn-danger btn-sm active" role="button">Nueva Venta</a>