<p id="notice"><%= notice %></p>

<p>
  <strong>Observacion:</strong>
  <%= @sale.observacion %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @sale.cantidad %>
</p>

<p>
  <strong>Aficionado:</strong>
  <%= @sale.aficionado %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
